* {
  margin: 0;
  color: black;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
header {
  background-color: gray;
  position: sticky;
  width: 100%;
  top: 0;
  text-align: center;
  padding-top: 10px;
  height: 70px;
  border-radius: 0 0 30px 30px;
  font-size: 40px;
}
.tile {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  box-sizing: border box;
  position: absolute;
}
.tile:nth-child(1) {
  top: 150px;
  left: 30px;
}
.tile:nth-child(2) {
  top: 150px;
  left: 240px;
}
.tile:nth-child(3) {
  top: 150px;
  left: 450px;
}
.tile:nth-child(4) {
  top: 360px;
  left: 30px;
  font-size: 150px;
  border-radius: 55px;
  border: rgb(32, 32, 156) 10px solid;
  text-align: center;
}
.tile:nth-child(5) {
  top: 360px;
  left: 240px;
  font-size: 150px;
  border-radius: 50%;
  border: black 10px dashed;
  text-align: center;
}
.tile:nth-child(6) {
  top: 360px;
  left: 450px;
  font-size: 150px;
  border-radius: 55px;
  border: rgb(32, 32, 156) 10px solid;
  text-align: center;
}
.tile:nth-child(7) {
  top: 570px;
  left: 690px;
}
.tile:nth-child(8) {
  top: 570px;
  left: 900px;
}
.tile:nth-child(9) {
  top: 570px;
  left: 30px;
  width: 650px;
  column-count: 3;
  column-gap: 40px;
  column-rule: 7px solid rgb(35, 7, 120);
}
.tile:nth-child(10) {
  top: 570px;
  left: 1110px;
}
footer {
  background-color: gray;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 3px;
  height: 70px;
  border-radius: 30px 30px 0 0;
  font-size: 40px;
  padding-top: 10px;
}
.tile-1-img {
  width: 100px;
  height: 100px;
  float: right;
}
.tree {
  height: 200px;
  width: 200px;
}
.tile-3-img {
  width: 100px;
  height: 100px;
  float: left;
}
/* light */
.header-footer-light {
  background-color: gray;
  color: rgb(0, 0, 0);
}
.tile-light {
  background-color: lightblue;
}
.tile-4-6-light {
  border: rgb(32, 32, 156) 10px solid;
}
.tile-5-light {
  border: black 10px dashed;
}
.tile-9-light {
  column-rule: 7px solid rgb(35, 7, 120);
}
/* dark */

body-dark {
  background-color: rgb(50, 47, 47);
}
.header-footer-dark {
  background-color: rgb(152, 153, 153);
  color: black;
}

.tile-dark {
  background-color: rgb(152, 153, 153);
}
.tile-4-6-dark {
  border: rgb(0, 0, 0) 10px solid;
}
.tile-5-dark {
  border: black 10px dashed;
}
.tile-9-dark {
  column-rule: 7px solid rgb(35, 7, 120);
}
/* sea theam */
.bubbles {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: -60px;
  width: 100%;
}
@keyframes bubble {
  0% {
    transform: translate(0, 0);
  }
  /* 0%  {transform: translate(0, 0);} */
  100% {
    transform: translate(0, -1000px);
    opacity: 0;
  }
}
.bubbles-1-1 {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: -60px;
  width: 100%;
}
@keyframes bubble {
  0% {
    transform: translate(0, 0);
  }
  /* 0%  {transform: translate(0, 0);} */
  100% {
    transform: translate(0, -1000px);
    opacity: 0;
  }
}
.bubble:nth-child(1) {
  animation: bubble 3s infinite;
  height: 20px;
  width: 20px;
}

.bubble:nth-child(2) {
  animation: bubble 4s infinite;
  height: 30px;
  width: 30px;
}

.bubble:nth-child(3) {
  animation: bubble 5s infinite;
  height: 40px;
  width: 40px;
}

.bubble:nth-child(4) {
  animation: bubble 6s infinite;
  height: 50px;
  width: 50px;
}

.bubble:nth-child(5) {
  animation: bubble 7s infinite;
  height: 60px;
  width: 60px;
}

.bubble:nth-child(6) {
  animation: bubble 3.5s infinite;
  height: 70px;
  width: 70px;
}

.bubble:nth-child(7) {
  animation: bubble 4.5s infinite;
  height: 80px;
  width: 80px;
}

.bubble:nth-child(8) {
  animation: bubble 5.5s infinite;
  height: 90px;
  width: 90px;
}

.bubble:nth-child(9) {
  animation: bubble 6.5s infinite;
  height: 25px;
  width: 25px;
}

.bubble:nth-child(10) {
  animation: bubble 7.5s infinite;
  height: 35px;
  width: 35px;
}

.bubble-1:nth-child(1) {
  animation: bubble 3.2s infinite;
  height: 45px;
  width: 45px;
}

.bubble-1:nth-child(2) {
  animation: bubble 4.2s infinite;
  height: 50px;
  width: 50px;
}

.bubble-1:nth-child(3) {
  animation: bubble 5.2s infinite;
  height: 60px;
  width: 60px;
}

.bubble-1:nth-child(4) {
  animation: bubble 6.2s infinite;
  height: 70px;
  width: 70px;
}

.bubble-1:nth-child(5) {
  animation: bubble 7.2s infinite;
  height: 80px;
  width: 80px;
}

.bubble-1:nth-child(6) {
  animation: bubble 3.7s infinite;
  height: 30px;
  width: 30px;
}

.bubble-1:nth-child(7) {
  animation: bubble 4.7s infinite;
  height: 40px;
  width: 40px;
}

.bubble-1:nth-child(8) {
  animation: bubble 5.7s infinite;
  height: 90px;
  width: 90px;
}

.bubble-1:nth-child(9) {
  animation: bubble 6.7s infinite;
  height: 25px;
  width: 25px;
}
.bubble-1:nth-child(10) {
  animation: bubble 7.7s infinite;
  height: 35px;
  width: 35px;
}
.display-none-sea {
  display: none;
}
.sea-weed1 {
  position: absolute;
  right: 10px;
  bottom: 0;
  animation: waveanirev 10s infinite;
  animation: seaweed 5s infinite;
}
.sea-weed2 {
  position: absolute;
  left: 10px;
  bottom: 0;
  animation: seaweed 5s infinite;
}
.sea-weed {
  width: 250px;
  height: 250px;
}
@keyframes seaweed {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
}
.display-none {
  display: none;
}
/* @media (max-width: 1000px) {
  .tile {
    width: 400px;
    background-color: burlywood;
    color: black;
  }
  .tile:nth-child(1) {
    top: 30px;
    left: 50px;
  }
  .tile:nth-child(2) {
    top: 240px;
    left: 50px;
  }
  .tile:nth-child(3) {
    top: 450px;
    left: 50px;
  }
  .tile:nth-child(4) {
    top: 660px;
    left: 50px;
  }
  .tile:nth-child(5) {
    top: 870px;
    left: 50px;
  }
  .tile:nth-child(6) {
    top: 1080px;
    left: 50px;
  }
  .tile:nth-child(7) {
    top: 1290px;
    left: 50px;
  }
  .tile:nth-child(8) {
    top: 1500px;
    left: 50px;
  }
  .tile:nth-child(9) {
    top: 1710px;
    left: 50px;
  }
} */
